.vacy-content {
  padding: 10px 20px;
  flex: 1;
  overflow-y: auto; /* Permet fer scroll dins del mòbil */
}

.action-buttons-container {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

.vacy-btn {
  flex: 1; /* Fa que els dos botons mesurin el mateix */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 5px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.vacy-btn:active {
  transform: scale(0.96);
}

/* Botó Crear Recepta (Fosc) */
.btn-primary {
  background-color: #4b3621;
  color: #f4ece1;
}

/* Botó IA Vacy (Clar amb bord) */
.btn-secondary {
  background-color: white;
  border: 2px solid #4b3621;
  color: #4b3621;
}

.vacy-btn span {
  font-weight: 800;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.vacy-btn small {
  font-size: 0.7rem;
  opacity: 0.8;
  margin-top: 2px;
}

.section-title {
  font-family: 'Dancing Script', cursive;
  color: #4b3621;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

/*------------------------------------------------------------------------------------- */

.filter-container {
  display: flex;
  justify-content: flex-start; /* Centrem el botó d'embut */
  margin-top: -10px;
  margin-bottom: 25px;
  padding-left: 1px;
}

.vacy-filter-btn {
  background-color: #71351f; /* Marró de la marca */
  border: none;
  border-radius: 25px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
}

.vacy-filter-btn:active {
  transform: scale(0.95);
}

.vacy-filter-btn:hover {
  background-color: #795548; /* Un pèl més fosc en fer hover */
}

/* L'embut en color beix */
.funnel-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.funnel-top {
  width: 4px;/* Amplada de la boca de l'embut */
  height: 0;
  /* Fem que la caiguda sigui més pronunciada i estreta */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #f4ece1; /* Color beix de la teva web */
}

.funnel-pipe {
  width: 2px;                 /* El tubet molt més prim */
  height: 6px;                /* Més llarg perquè surti bé per sota */
  background-color: #f4ece1;  /* Mateix beix */
  margin-top: -1px;           /* Perquè quedi ben enganxat a la part de dalt */
  border-radius: 0 0 1px 1px; /* Un mini arrodoniment a la punta final */
}
.filter-text {
  font-family: 'Dancing Script', cursive;
  color: #f4ece1; 
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

